body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

input[type="file"], button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    font-weight: bold;
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableContainer {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}

#totalsContainer {
    font-weight: bold;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
}